/* Global Styling  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-white: #fff;
$color-black: #000;
$color-grey-1: #d7d7d7;
$color-grey-2: #757575;
$color-grey-3: #fbfbfb;
$color-green-1: #51956e;
$color-green-2: #134440;
$color-purple-1: #6333cf;
$color-red-1: #ed7150;

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

li {
  list-style: none;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* Utility Classes */

.btn {
  padding: 0.7rem 1.5rem;
  border-radius: 7px;
  font-weight: 700;
  font-size: 0.9rem;
  border: 1px solid $color-white;
  background-color: $color-white;
  cursor: pointer;
}

.heading {
  font-size: 2.8rem;
  font-weight: 700;
}

.subheading {
  color: $color-green-1;
  font-weight: 200;
  text-shadow: 0 0 1px $color-green-1;
  font-size: 1rem;
  letter-spacing: 2px;
}

.body-text {
  color: $color-grey-2;
}

/* HEADER */

header {
  width: 100%;
  padding: 2rem 10vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  .logo-icon {
    background-color: $color-white;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    color: $color-green-2;
    display: grid;
    place-content: center;
    font-size: 24px;
    margin-right: 0.5rem;
  }

  .logo-text {
    font-size: 1.5rem;
    color: $color-white;
  }
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-item {
  margin: 0 10px;
  padding: 0 5px;
}

.nav-item > a {
  text-decoration: none;
  font-weight: 500;
  color: $color-white;
}

.nav-item:hover .logo-text {
  border-bottom: 2px solid $color-white;
}

.nav-btn {
  color: $color-green-2;
}

.nav-toggler {
  display: none;
}

/* HERO SECTION */

.hero-section {
  padding-top: 12rem;
  text-align: center;
  background-color: $color-green-2;
  background-image: linear-gradient(
      0deg,
      rgba($color-white, 0.1) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba($color-white, 0.1) 0.1em, transparent 0.1em);
  background-size: 5rem 5rem;
  color: $color-white;

  > h1 {
    font-size: 3.5rem;
    max-width: 800px;
    margin: auto;
  }
  > p {
    max-width: 800px;
    margin: 2rem auto;
    color: $color-grey-1;
  }
  > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: contain;
    width: 80vw;
    margin-top: 5rem;
    height: fit-content;
  }
}

.hero-btns {
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  display: inline-flex;
  align-items: center;

  > button:first-child {
    color: $color-green-2;
  }
  > button:last-child {
    background-color: $color-green-2;
    color: $color-white;
  }

  > .spacer {
    width: 1rem;
  }
}

/* ABOUT SECTION */

.about-section {
  background-color: $color-grey-3;
  width: 100%;
  padding: 6rem 0;
  text-align: center;

  > h1 {
    margin-top: 1.25rem;
    margin: 0 10vw;
  }

  > p {
    max-width: 900px;
    margin: 2.5rem 10vw;
  }
}

.about-cards {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.about-card {
  margin: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #62626247;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: $color-white;
  max-width: 350px;

  > h4 {
    margin: 1rem 0;
    font-size: 1.1rem;
  }

  > p {
    font-size: 0.8rem;
  }

  > .card-icon {
    display: inline;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
  }
}

.about-card:nth-child(1) > .card-icon {
  color: #51956e;
  background-color: #51956e17;
}
.about-card:nth-child(2) > .card-icon {
  color: #6333cf;
  background-color: #6233cf17;
}
.about-card:nth-child(3) > .card-icon {
  color: #ed7150;
  background-color: #ed715017;
}

// FEATURE SECTION
.features-section {
  background-color: $color-white;
  padding: 0 10vw;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 5rem 0;

  .feature-image,
  .feature-info {
    flex: 1;
    min-width: 300px;
  }

  .feature-spacer {
    width: 5rem;
  }

  .feature-image {
    object-fit: cover;
    border: 2rem solid $color-grey-3;
    border-radius: 1rem;
    width: 100%;
  }

  .feature-info {
    margin-top: 1rem;

    > h1,
    p,
    ul,
    button {
      margin-top: 1.2rem;
    }

    > h1 {
      font-size: 2rem;
      font-weight: 700;
    }

    .feature-list {
      color: $color-grey-2;
      li {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
      }
      .list-icon {
        color: $color-green-1;
        font-size: 0.6rem;
        background-color: rgba($color-green-1, 0.2);
        padding: 5px 7px;
        border-radius: 10000px;
        margin-right: 0.8rem;
      }
    }
    .feature-btn {
      background-color: $color-green-1 !important;
      border-color: $color-green-1 !important;
      color: $color-white !important;
    }
  }
}

.feature:nth-child(even) {
  flex-direction: row-reverse;
}

// FAQ SECTION

.faq-section {
  padding: 5rem 10vw;
  text-align: center;
  background-color: $color-grey-3;

  > h1 {
    max-width: 900px;
    margin: 2rem auto;
  }
  > p {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .customer-reviews {
    display: flex;
  }

  .customer-review-card {
    position: relative;
    padding: 3rem;
    background-color: $color-white;
    display: flex;
    border-radius: 1rem;
    align-items: flex-start;
    transition: all 500ms ease-in-out;
    overflow: hidden !important;
    width: 100%;
    opacity: 100%;

    .faq-spacer {
      width: 5rem;
    }

    .customer-image {
      border-radius: 1rem;
      width: 40%;
      margin-bottom: 2rem;
      min-width: 250px;
    }

    .review {
      flex: 1;
      text-align: left;
      z-index: 2;
      .review-content {
        font-size: 1.4rem;
        color: $color-grey-2;
      }
      .customer-name {
        font-size: 1.9rem;
        color: rgba($color-black, 0.8);
        margin-top: 2.25rem;
        margin-bottom: 1rem;
      }
    }
  }

  .customer-review-card-transition {
    opacity: 0%;
    display: none;
  }

  .review-carousal-btns {
    position: absolute;
    right: 2rem;
    bottom: 2.25rem;
    > button {
      font-size: 1rem;
      background-color: rgba($color-grey-2, 0.1);
      border: none;
      height: 3rem;
      width: 3rem;
      border-radius: 10000px;
      margin: 0.7rem;
      cursor: pointer;
    }
  }
}

.review-icon {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  transform: scaleX(-1);
  font-size: 6rem;
  color: rgba($color-grey-1, 0.5);
  z-index: 1;
}

// CONTACT SECTION
.contact-section {
  background-color: $color-green-2;
  background-image: linear-gradient(
      0deg,
      rgba($color-white, 0.1) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba($color-white, 0.1) 0.1em, transparent 0.1em);
  background-size: 5rem 5rem;
  padding: 5rem 10vw;
  text-align: center;

  > h1 {
    font-size: 2.5rem;
    color: $color-white;
    max-width: 750px;
    margin: auto;
    margin-bottom: 2.5rem;
  }

  .contact-btns {
    > button {
      margin: 0.5rem;
    }
    > button:first-child {
      color: $color-green-2;
    }
    > button:last-child {
      color: $color-white;
      background-color: transparent;
    }
  }
}

// FOOTER

footer {
  padding: 0 10vw;
  padding-top: 5rem;
  background-color: $color-white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  .footer-logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    .logo-icon {
      background-color: $color-green-1;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 100px;
      color: $color-white;
      display: grid;
      place-content: center;
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }

    .logo-text {
      font-size: 1.5rem;
      color: $color-black;
    }
  }

  .footer-about {
    > p {
      max-width: 300px;
      margin-top: 1.5rem;
      margin-bottom: 3rem;
    }

    .social-icons {
      display: flex;
      align-items: center;
      > span {
        margin-right: 1rem;
        font-size: 1.6rem;
        color: $color-green-2;
        cursor: pointer;
      }
    }
  }

  .footer-nav {
    display: flex;
    .footer-nav-item {
      margin-left: 4rem;

      > h4,
      > p {
        margin-bottom: 1rem;
      }

      > p {
        color: $color-grey-2;
        font-size: 0.9rem;
        cursor: pointer;
      }

      > h4 {
        font-size: 1.25rem;
      }
    }
  }
}

.footer-seperation {
  height: 1px;
  width: 100%;
  background-color: $color-grey-1;
  margin-bottom: 2rem;
}

.footer-copyright {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  span:nth-child(1) {
    margin-right: 2rem;
  }
  span {
    color: $color-grey-2;
  }
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }

  nav {
    display: none;
  }

  header {
    padding: 2rem 5vw;
  }

  .nav-btn {
    display: none;
  }

  .nav-toggler {
    display: inline;
    font-size: 2rem;
    color: $color-white;
  }

  .hero-section {
    > h1 {
      font-size: 2.5rem !important;
    }
  }

  .heading {
    font-size: 2rem;
  }

  .faq-section,
  .contact-section,
  .about-section.features-section {
    padding: 5rem 5vw;
  }

  .hero-section {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .review-content {
    font-size: 1rem !important;
    text-align: justify;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-nav {
    flex-direction: column;
    margin: 2rem 0;
  }

  .footer-nav-item {
    margin: 0 !important;
  }
}

@media screen and (max-width: 1050px) {
  .feature {
    display: grid;
  }
  .customer-review-card {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }
}
